body {
  font-family: Helvetica, sans-serif, Arial;
  background: #ffffff;
  padding: 10px;
}

.title {
  font-size: 24px;
}

.header-section {
  text-align: center;
  padding: 0 30px;
}

.logo-img {
  width: 200px;
}

.ex-container {
  margin-bottom: 40px;
}

.ex-comp-container {
  padding: 10px 20px;
  background: aliceblue;
}
